.css-selector {
	background: linear-gradient(308deg, #18033c, #23173a);
	background-size: 400% 400%;

	-webkit-animation: main-background 29s ease infinite;
	-moz-animation: main-background 29s ease infinite;
	-o-animation: main-background 29s ease infinite;
	animation: main-background 29s ease infinite;
}

@-webkit-keyframes main-background {
	0%{background-position:0% 35%}
	50%{background-position:100% 66%}
	100%{background-position:0% 35%}
}
@-moz-keyframes main-background {
	0%{background-position:0% 35%}
	50%{background-position:100% 66%}
	100%{background-position:0% 35%}
}
@-o-keyframes main-background {
	0%{background-position:0% 35%}
	50%{background-position:100% 66%}
	100%{background-position:0% 35%}
}
@keyframes main-background {
	0%{background-position:0% 35%}
	50%{background-position:100% 66%}
	100%{background-position:0% 35%}
}